@import url(http://fonts.googleapis.com/css?family=Satisfy);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css);

body{
	background-color: 	#000;
}
/**
 * Styling
 */
	
	/**
	 * Splash page
	 */
	#logo-welcome{
		margin-top: 50px;
		margin-bottom: 50px;
		height: 100px;
	}
	
	/**
	 * Navbar
	 */
	.navbar-brand{
		font-family: 'Satisfy';
		font-size: 26px; 
	}